
.error{
  color: red;
  font-weight: bolder;
}

.login{
	background-color:grey !important;
}

.register{
	text-align:center;
	font-weight:600;
	color:light;
}

.registerA{
	text-align:center;
	font-weight:600;
	color:light;
	font-size:20px;
}
