page-comparison {



.plus-img1{
	margin-top:15px;
	margin-right:15px;
	text-align: right;
}

.plus-img2{
	margin-top:15px;
	margin-left:15px;
	text-align: left;
}

.compareTitle {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

.img1{
	display:block;
    margin: auto auto;
}

.img2 {
    text-align: center;
}
}
